<p id="notice"><%= notice %></p>
<div class="shops">

  <h1 id="title">Shop Profiles</h1>
  <br> <br>
    
  <div id="all-shops">
      <% @shop_profiles.each do |shop_profile| %>

        <% unless shop_profile.business_name.nil? %>
        <div id="shop">
            <li id="shop-name"><%= link_to shop_profile.business_name, shop_profile%></li>
            <li id="location"><%= shop_profile.location %></li>            
            <li id="about"><%= shop_profile.about %></li>
            <li id="contact"><%= shop_profile.contact_number %></li>
         </div>   

        <% end %>

      <% end %>
  </div>
</div>




  
