<% current_user.shop_profile.products.each do |product| %>
    <td><%= link_to image_tag(product.image, width: '100'), product %></td>
    <td><%= link_to product.name, product %></td>
    <td><%= number_to_currency(product.price / 100.0) %></td>
    <td><%= product.shop_profile.business_name %></td>
    <td><%= product.style.name %></td>
    <td><%= product.description %></td>
<% end %>