<div class="shops">

    <h3 class="title">Your Products</h3>
    <br>

    <div class="all-products">

        <% current_user.shop_profile.products.each do |product| %>
            <div class="product">
                <li><%= link_to image_tag(product.image, width: '100'), product %></li>
                <li class="product-name"><%= link_to product.name, product %></li>
                <li class="price"><%= number_to_currency(product.price / 100.0) %></li>
                <li class="business-name"><%= product.shop_profile.business_name %></li>
                <li class="style"><%= product.style.name %></li>
                <li class="description"><%= product.description %></li>
                <div class="edit-product"><%= link_to 'Edit |', edit_product_path(product) %>
                    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            </div>
        <% end %>

    </div>

</div>