
<div class="shops">
<h3 id="title">Your Products</h3>
<br>
    <div id="all-products">
            <% current_user.shop_profile.products.each do |product| %>
                <div id="product">
                    <li><%= link_to image_tag(product.image, width: '100'), product %></li>
                    <li id="product-name"><%= link_to product.name, product %></li>
                    <li id="price"><%= number_to_currency(product.price / 100.0) %></li>
                    <li id="business-name"><%= product.shop_profile.business_name %></li>
                    <li id="style"><%= product.style.name %></li>
                    <li id="description"><%= product.description %></li>
                </div>
            <% end %>
    </div>
</div>