<p id="notice"><%= notice %></p>

<p>
  <strong>Business Name:</strong>
  <%= @shop_profile.business_name %>
</p>

<p>
  <strong>About:</strong>
  <%= @shop_profile.about %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop_profile.location %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @shop_profile.contact_number %>
</p>

<% if current_user == @shop_profile.user %>
  <%= link_to 'Edit', edit_shop_profile_path(@shop_profile) %> 
<% end %>


<br><br>

<% if current_user == @shop_profile.user %>
  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'My Shop Orders', profile_orders_path %>
  <%= link_to 'My Products', profile_products_path %> 
<% else %>
  <h3>Products</h3>
  <% @shop_profile.products.each do |product| %>
    <td> <%= link_to image_tag(product.image, width: '100'), product %></td>
    <td><%= link_to product.name, product %></td>
    <td><%= product.price %></td>
    <td><%= product.quantity %></td>
    <td><%= product.shop_profile.business_name %></td>
    <td><%= product.style.name %></td>
    <td><%= product.description %></td>
  <% end %>
<% end %>




