<p id="notice"><%= notice %></p>

<p>
  <strong>Business Name:</strong>
  <%= @shop_profile.business_name %>
</p>

<p>
  <strong>About:</strong>
  <%= @shop_profile.about %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop_profile.location %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @shop_profile.contact_number %>
</p>

<%= link_to 'Edit', edit_shop_profile_path(@shop_profile) %> |
<%= link_to 'Back', shop_profiles_path %>

<br><br>

<% if current_user == @shop_profile.user %>
  <%= link_to 'New Product', new_product_path %>
  <%= link_to 'My Shop Orders' %>
<% end %>


