<div class="user-form">

  <h2>New Product</h2>

  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price, value: number_with_precision((product.price||0)/100.0, :precision => 2) %>
    </div>

  <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, value: (product.quantity||0) %>
    </div>

    <div class="field">
      <%= form.label :style %>
      <%= form.collection_select :style_id, Style.all, :id, :name, :prompt => true %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>