<!DOCTYPE html>
<html>
  <head>
    <title>All Good Brew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
  </head>

  <body>
    <nav>
      <a href="/"><img src="/assets/agb-logo-orange.svg"></a>
    
       <div id="search">
        <%= form_tag(products_search_path, method: :get, :class => "search-box") do %>
          <%= text_field_tag(:search, params[:search], placeholder: "Search...", :class => "search-box-input") %>
        <% end %>
        </div>


      <div class="nav-buttons">
      <% if user_signed_in? %>
    
              <%= link_to('LOGOUT', destroy_user_session_path, method: :delete, :class => "button") %> 
              <%= link_to 'MY PURCHASES', mypurchases_path, :class => "button" %> 
            <% unless current_user.shop_profile.nil? %> 
                <%= link_to 'MY SHOP', shop_profile_path([current_user.shop_profile]), :class => "button" %> 
              <% else %>
                <%= link_to 'BREW A SHOP', edit_shop_profile_path(current_user), :class => "button" %>
              <% end %>
      <% else %>
            <%= link_to('LOGIN', new_user_session_path, :class => "button")  %>        
      <% end %>
      </div>
   </nav>

    <div id="page-content">

      <div id="page-options">
        <div id="all-options">
        <%= link_to 'View All Shops', shop_profiles_path, :class => "button" %>
        <%= link_to 'View All Products', products_path, :class => "button" %>
        </div>

      </div>

      <div id="yield">


        <%= yield %>
      </div>
    </div>

  </body>
</html>
